<h2>管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: admin_session_path) do |f| %>

<div class="form-group">
  <div class="field">
     <p> <label class="col-sm-2">メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
     </p>
  </div>

  <div class="field">
     <p> <label class="col-sm-2">パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password" %>
      </p>
  </div>

</div>



  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
