<h2>商品履歴詳細</h2>

<tbody>
  <div class="col-7">
    <td colspan="2">
      <table class="table">
        <tr>
          <th scope="row">購入者</th>
          <th><%=link_to @order.addressee, admin_customer_path %></th>
        </tr>
        <tr>
          <th scope="row">注文日</th>
          <th><%=@order.created_at.strftime('%Y/%m/%d')%></th>
        </tr>
        <tr>
          <th scope="row">配送先</th>
          <th>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.addressee %></th>
        </tr>
        <tr>
          <th scope="row">支払方法</th>
          <th><%= @order.payment_method_i18n %></th>
        </tr>

      </table>
    </td>
  </div>
</tbody>

<div class="row">
<table class="table col-6">
    <thead>
        <tr class="table-secondary">
            <th scope = "col">商品名</th>
            <th scope = "col">単価(税込)</th>
            <th scope = "col">数量</th>
            <th scope = "col">小計</th>
        </tr>
    </thead>

    <tbody>
      <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.add_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
      </tr>
      <% end %>
     </tbody>
</table>

<table class="table col-1">

</table>

    <table class="table col-2">
        <tr>
          <th scope="row">商品合計</th>
          <th><%= @order.order_details.sum(&:subtotal) %>円</th>
        </tr>
        <tr>
          <th scope="row">送料</th>
          <th><%= @postage %>円</th>
        </tr>
        <tr>
          <th scope="row">請求金額合計</th>
          <th><%= @order.payment_amount %>円</th>
        </tr>
      </td>
    </table>
</div>
