<h2>注文情報入力画面</h2>
<%= form_with model: @order, url:new_order_path,  local: true do |f| %>

<p>支払い方法</p>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

<p>お届け先</p>

  <!--<p><%#= f.radio_button :select_address, 0 %>ご自身の住所</p>-->
  <%#= current_customer.address %>

<% end %>
