<h2>商品一覧 (全<%= @item.count %>件)</h2>

<div class="row">
  <% @item.each do |item| %>
    <div class="col-3">
      <div>
         <%= link_to item_path(item.id) do %>
         <%= image_tag item.get_image(200,200) %>
         <% end %>
        <p><%= link_to item.name, item_path(item.id) %></p>
        <p>￥<%= item.price %></p>
      </div>
    </div>
  <% end %>
</div>



