<tbody>
  <%= form_with model: @cart_item, url:cart_items_path  do |f| %>

  <div class="container">
     <div class="row">
       <div class="col">
        <%= image_tag @item.get_image(300,300) %> </tb>
       </div>
     <div class="col d-flex align-items-center">
       <div class="col-6">
      <tb><h2><%= @item.name %></h2>
           <p><%= @item.introduction %></p>
           <h2>￥<%= @item.add_tax_price.to_s(:dalimited) %>(税込)</h2>
           <p><%= f.select :amount, [["1"], ["2"], ["3"], ["4"], ["5"], ["6"], ["7"], ["8"], ["9"], ["10"]], include_blank: "個数選択" %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.submit "カートに入れる",  class:"btn btn-success"%>
           </p>
      </tb>
      </div>
      </div>
</div>
  <% end %>
</tbody>

